

$oswald_font: 'Oswald', sans-serif;
$open_sans: 'Open Sans', sans-serif;
$open_sans_light: 'OpenSans-LightItalic';
$greatevibes_regular: 'greatevibes-regular';

$lighten_dark: #8c8c8c;
$dark_red: #830D2E;
$dark_gray: #363636;